body {
	padding-top: 70px;
	background: #2c3e50;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a {
	color: #2c3e50;
}

.navbar-inverse .navbar-brand {
	color: #2c3e50;
}

.image1 {
	background-image: url(https://source.unsplash.com/2odHGnjADI0);
}

.image2 {
	background-image: url(https://source.unsplash.com/FJQAjFZwz0w);
}

.image3 {
	background-image: url(https://source.unsplash.com/_TuI8tZHlk4);
}

.image4 {
	background-image: url(https://source.unsplash.com/JVtcrWcbj1c);
}

.image5 {
	background-image: url(https://source.unsplash.com/gdQnsMbhkUs);
}

.image6 {
	background-image: url(https://source.unsplash.com/s6r-2tQnLfI);
}

.image7 {
	background-image: url(https://source.unsplash.com/6-828bYztjw);
}

.image8 {
	background-image: url(https://source.unsplash.com/zSGFGTed0zw);
}

.image9 {
	background-image: url(https://source.unsplash.com/ovynqgd5Dn4);
}

.image10 {
	background-image: url(https://source.unsplash.com/AgWVcQz1bOA);
}

.image11 {
	background-image: url(https://source.unsplash.com/-eDpBjt6UL0);
}

.image12 {
	background-image: url(https://source.unsplash.com/JGf0KBPj3x4);
}

.image {
	width: 100%;
	height: 250px;
	background-size: cover;
	background-position: center;
}
